{
	BasedOnStyle: LLVM,
	AlignConsecutiveMacros: Consecutive,
	AlignTrailingComments: True,
	AllowShortBlocksOnASingleLine: Never,
	AllowShortCaseLabelsOnASingleLine: False,
	AllowShortEnumsOnASingleLine: False,
	AllowShortFunctionsOnASingleLine: None,
	AllowShortIfStatementsOnASingleLine: false,
	AllowShortLoopsOnASingleLine: False,
	BitFieldColonSpacing: Both,
	BreakBeforeBraces: Attach,
	ColumnLimit: 0,
	IncludeBlocks: Merge,
	IndentCaseLabels: True,
	IndentWidth: 4,
	PointerAlignment: Right,
	SpaceBeforeAssignmentOperators: True,
	TabWidth: 4,
	UseTab: Always,
}
